.btn-add{

  background-color: blue;
  width: 200px;
  height: 200px;
}

.btn-rest{
  background-color: red;
  width: 200px;
  height: 200px;
}
.App{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 350px;
}
.contador{
  width: 200px;
  height: 200px;
  background-color: green;
  display: flex;
  justify-content: center;
  align-items: center;
}